<div class="container">
    <div class="row">
        <div class="mb-5">
            <a class="btn" href="blog.ejs">Add new article</a>
        </div>
    </div>
    <div class="row">
        <form action="" method="POST">
            <div class="mb-3">
              <label class="form-label">Title</label>
              <input type="text" class="form-control" name="title" placeholder="Title">
            </div>

            <div class="mb-3">
                <label class="form-label">description</label>
                <textarea class="form-control" name="description"></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label">Author</label>
                <input type="text" class="form-control" name="author" placeholder="Author">
            </div>

            <div class="mb-3">
                <label class="form-label">tags</label>
                <input type="text" class="form-control" name="tags" placeholder="enter a tag">
            </div>

            <div class="mb-3">
                <label for="status">status</label>
                <select class="form-select" name="status">
                    <option value="active">active</option>
                    <option value="disable">disable</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">create_at</label>
                <input type="date" class="form-control" name="date">
            </div>

            <input type="submit" value="add">
          </form>
    </div>
</div>